/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  font: 12px/22px Tahoma, sans-serif;
  color: white;
  background-image: url("background.jpg");
  background-repeat: repeat;
}

body #wrap {
  height: 500px;
}

#wrap, header, article, footer {
  margin: 0 auto;
  margin-top: 3%;
  width: 85%;
  height: 100%;
}

header {
  height: 40%;
}

article {
  height: 46%;
  margin: 0 auto;
  line-height: 1.20em;
  font-size: 1.2em;
}

footer {
  height: 5%;
  position: absolute;
  right: 1%;
  bottom: 1%;
}

footer a {
  color: white;
}

p {
  margin: 0;
}

h1 {
  font-size: 5em;
}

h2 {
  margin: 0.5em;
  text-decoration: underline;
}



a {
  color: black;
  text-decoration: none;
}

a:link {
}

a:visited { 
}

a:hover {
  -webkit-text-shadow: 2px 2px 2px #333;
  -moz-text-shadow: 2px 2px 2px    #333;
  text-shadow: 2px 2px 2px         #333;
  cursor: pointer;
}
header p {
  margin: 0;
  margin-left: 19%;
  font-family: 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.8em;
}

.box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 24.05%;
  height: 230px;
  color: black;
  position: fixed;
}

.box .inside_box {
  margin: 0 auto;
  width: 240px;
}

#about {
  left: 13%;
}
#about .inside_box p {
  font-size: 1em;
}
#portfolio {
  left: 38%;
}
#portfolio .inside_box img {
  width: 100%;
}
#contact {
  right: 13%;
}

.more {
  margin: 0;
  cursor: pointer;
  text-align: center;
  padding: 3px;
  border: solid 1px black;
  width: 60px;
  background-color: gray;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  position: absolute;
  right: 10%;
  bottom: 10px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3px;
  border-radius: 3px;
}

.more_box_about {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  height: 230px;
  position: fixed;
  width: 49.05%;
  left: 38%;
}

.more_box_portfolio {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  height: 300px;
  width: 55%;
  left: 22.5%;

  position: absolute;
}

.more_box_portfolio .inside_box .row {
  padding: 15px;
  height: 90px;
}

.more_box_portfolio .inside_box .row .cell {
  width: 240px;
  display: inline;
}
.cell img {
  width: 240px;
} 
.more_box_about .inside_box p {
  padding: 9%;

}


.inside_box ul {
  display: block;
  list-style: none;
}

.inside_box ul li {
  padding-bottom: 10px;
}

footer {
  text-align: right;
}